includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    # From PHPStan 0.12, paths to check are relative to the neon file
    - ../../../ps_facetedsearch.php
    - ../../../ps_facetedsearch-attribute-indexer.php
    - ../../../ps_facetedsearch-clear-cache.php
    - ../../../ps_facetedsearch-price-indexer.php
    - ../../../src/
    - ../../../upgrade/
  level: 5
