<phpunit
    bootstrap="bootstrap.php"
    >
  <testsuites>
    <testsuite name="FacetedSearch">
      <directory>.</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../../src</directory>
    </whitelist>
  </filter>
</phpunit>
